@import url('css/import1.css') screen and (max-width: 600px);
ul li {
  list-style: none;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
