@media screen and (max-width: 600px) {
  div.import1a {
  color: red;
}


div.import1b {
  color: red;
}


div.import1 {
  color: red;
}


}
ul li {
  list-style: none;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
